<!-- _LoremMenu.cshtml -->
@inherits RazorSlices.RazorSlice

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="lorem-static">Static</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lorem-dynamic">Dynamic</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lorem-formattable">Formattable</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lorem-htmlcontent">HtmlContent</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lorem-injectableproperties">Injected Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lorem-stream">Rendered from Stream</a>
    </li>
</ul>
