@inherits RazorSliceHttpResult<LoremParams>

<h1 class="mt-5">@PageTitle</h1>

@for (var i = 0; i < Model.ParagraphCount; i++)
{
    <p>@PageContent.SentencesUtf8(Model.ParagraphSentenceCount)</p>
}

@functions {
    string PageTitle = "";

    protected override RazorSlice GetLayout()
    {
        PageTitle = $"Lorem Ipsum (Dynamic: {Model.ParagraphCount} paragraphs)";

        var layoutModel = new LayoutModel
            {
                Title = PageTitle
            };
        return _LoremLayout.Create(layoutModel);
    }
}
