@using System.IO;
@using System.Text.Encodings.Web;

@inherits RazorSliceHttpResult<HtmlContentParams>

@{
    var content = new LoremHtmlContent { HtmlEncode = Model.Encode };
}

<h1 class="mt-5">@PageTitle</h1>
@content

@functions {
    string PageTitle = "";

    protected override RazorSlice GetLayout()
    {
        PageTitle = "Lorem Ipsum (IHtmlContent)";

        var layoutModel = new LayoutModel
            {
                Title = PageTitle
            };
        return _LoremLayout.Create(layoutModel);
    }

    public class LoremHtmlContent : IHtmlContent
    {
        public bool HtmlEncode { get; set; }

        public void WriteTo(TextWriter writer, HtmlEncoder encoder)
        {
            if (HtmlEncode)
            {
                writer.Write(encoder.Encode(PageContent.Html));
            }
            else
            {
                writer.Write(PageContent.Html);
            }
        }
    }
}
