<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="VS" value="https://pkgs.dev.azure.com/devdiv/_packaging/VS/nuget/v3/index.json" />
    <add key="dotnet11" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet11/nuget/v3/index.json" />
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <packageSourceMapping>
    <packageSource key="VS">
      <package pattern="Microsoft.Net.Compilers.Razor.Toolset" />
      <package pattern="Microsoft.Net.Compilers.Toolset" />
    </packageSource>
    <packageSource key="dotnet11">
      <package pattern="System.*" />
      <package pattern="runtime.*" />
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="System.*" />
      <package pattern="runtime.*" />
      <package pattern="Microsoft.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
