<!-- _Footer.cshtml -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <a href="https://github.com/DamianEdwards/RazorSlices"><span class="text-muted">RazorSlices</span></a>
    </div>
</footer>