<!-- _Footer.cshtml -->
@inherits RazorSlices.RazorSlice
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <a href="/"><span class="text-muted">Home</span></a> |
        <a href="/lorem"><span class="text-muted">Lorem</span></a> |
        <a href="/unicode"><span class="text-muted">Unicode</span></a> |
        <a href="/render-to-string"><span class="text-muted">Render to string</span></a> |
        <a href="/render-to-stringbuilder"><span class="text-muted">Render to StringBuilder</span></a> |
        <a href="/library"><span class="text-muted">From Razor Class Library</span></a> |
        <a href="https://github.com/DamianEdwards/RazorSlices"><span class="text-muted">RazorSlices</span></a>
    </div>
</footer>
