<!-- _FooterLinks.cshtml -->
<a href="/"><span class="text-muted">Home</span></a> |
<a href="/lorem"><span class="text-muted">Lorem</span></a> |
<a href="/templated"><span class="text-muted">Templated</span></a> |
<a href="/encoding"><span class="text-muted">Encoding</span></a> |
<a href="/unicode"><span class="text-muted">Unicode</span></a> |
<a href="/render-to-string"><span class="text-muted">Render to string</span></a> |
<a href="/render-to-stringbuilder"><span class="text-muted">Render to StringBuilder</span></a> |
<a href="/library"><span class="text-muted">From Razor Class Library</span></a>
