@inherits RazorSliceHttpResult<List<Models.Todo>>

<table class="table">
  <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Due by</th>
        <th>Status</th>
        <th></th>
    </tr>
  </thead>
  <tbody id="todo-table">
    @foreach (var todo in Model)
    {
        @await RenderPartialAsync(_Todo.Create(todo))
    }
  </tbody>
</table>