@inherits RazorSliceHttpResult<List<Models.Todo>>
@implements IUsesLayout<_LayoutHtmx, LayoutModel>

<h1 class="mt-5">Todos</h1>
<form
    hx-post="/htmx-todo"
    hx-target="#todo-table"
    hx-on::after-request="this.reset()"
>
    <input type="text" name="title" />
    <button>Add</button>
</form>

@await RenderPartialAsync(_Todos.Create(Model))

@functions {
    public LayoutModel LayoutModel => new() { Title = $"Todos ({Model.Count})" };
}
