<!-- _Layout.cshtml -->
@inherits RazorLayoutSlice<LayoutModel>

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.Title</title>
    <base href="/" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <link href="css/site.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container">
            @await RenderBodyAsync()
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            @(await RenderPartialAsync<_FooterLinks>()) |
            @await RenderSectionAsync("footer-links")
            <a href="https://github.com/DamianEdwards/RazorSlices"><span class="text-muted">RazorSlices</span></a>
            <p class="text-muted small">
                @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
            </p>
        </div>
    </footer>
</body>
</html>
