@inherits LayoutComponentBase
   
<HeadContent>
    <style>
        body {
            font-family: sans-serif;
        }

        section.content {
            margin: 0 auto;
            max-width: 70%
        }
    </style>
</HeadContent>

<section class="content">
    <h1>Lorem Ipsum</h1>

    @Body
</section>
