@using System.Reflection;

@inherits RazorSlice

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todos</title>
    <base href="/" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <link href="css/site.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">From Library</h1>
            <p class="text-success">This slice was loaded from a referenced Razor Class Library!</p>
            <p>
                Loaded from assembly:<br />
                <em>@(typeof(MarkerClass).Assembly.FullName)</em>
            </p>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <a href="/"><span class="text-muted">Home</span></a> |
            <a href="https://github.com/DamianEdwards/RazorSlices"><span class="text-muted">RazorSlices</span></a>
        </div>
    </footer>
</body>
</html>