@inherits RazorSlice
@implements IUsesLayout<_LoremLayout, LayoutModel>

<p>Philosophi autem in suis lectulis plerumque moriuntur. Quod, inquit, quamquam voluptatibus quibusdam est saepe iucundius, tamen expetitur propter voluptatem. <mark>Cur iustitia laudatur?</mark> Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Non quaero, quid dicat, sed quid convenienter possit rationi et sententiae suae dicere. Nonne odio multos dignos putamus, qui quodam motu aut statu videntur naturae legem et modum contempsisse? Iam argumenti ratione conclusi caput esse faciunt ea, quae perspicua dicunt, deinde ordinem sequuntur, tum, quid verum sit in singulis, extrema conclusio est. <i>Respondeat totidem verbis.</i> Atque haec ita iustitiae propria sunt, ut sint virtutum reliquarum communia. </p>

<p><a href='http://loripsum.net/' target='_blank'>Eadem fortitudinis ratio reperietur.</a> Nunc dicam de voluptate, nihil scilicet novi, ea tamen, quae te ipsum probaturum esse confidam. Id enim volumus, id contendimus, ut officii fructus sit ipsum officium. Crasso, quem semel ait in vita risisse Lucilius, non contigit, ut ea re minus agelastoj ut ait idem, vocaretur. Estne, quaeso, inquam, sitienti in bibendo voluptas? Minime vero probatur huic disciplinae, de qua loquor, aut iustitiam aut amicitiam propter utilitates adscisci aut probari. </p>

<p>Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Id enim volumus, id contendimus, ut officii fructus sit ipsum officium. Illud enim rectum est quod katortwma dicebas contingitque sapienti soli, hoc autem inchoati cuiusdam officii est, non perfecti, quod cadere in non nullos insipientes potest. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Quis tibi ergo istud dabit praeter Pyrrhonem, Aristonem eorumve similes, quos tu non probas? Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. Ea possunt paria non esse. <b>Cur id non ita fit?</b> <a href='http://loripsum.net/' target='_blank'>Quod cum dixissent, ille contra.</a> Quam ob rem tandem, inquit, non satisfacit? Res tota, Torquate, non doctorum hominum, velle post mortem epulis celebrari memoriam sui nominis. Alterum significari idem, ut si diceretur, officia media omnia aut pleraque servantem vivere. Quia voluptatem hanc esse sentiunt omnes, quam sensus accipiens movetur et iucunditate quadam perfunditur. Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura postulet. </p>

<p><i>Vide, quaeso, rectumne sit.</i> Quid, si non modo utilitatem tibi nullam afferet, sed iacturae rei familiaris erunt faciendae, labores suscipiendi, adeundum vitae periculum? Ut alios omittam, hunc appello, quem ille unum secutus est. Polemoni et iam ante Aristoteli ea prima visa sunt, quae paulo ante dixi. Huic verbo omnes, qui ubique sunt, qui Latine sciunt, duas res subiciunt, laetitiam in animo, commotionem suavem iucunditatis in corpore. Te autem hortamur omnes, currentem quidem, ut spero, ut eos, quos novisse vis, imitari etiam velis. <a href='http://loripsum.net/' target='_blank'>Verum hoc idem saepe faciamus.</a> De quibus cupio scire quid sentias. </p>

<p>Sequitur disserendi ratio cognitioque naturae; Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant. Qui autem diffidet perpetuitati bonorum suorum, timeat necesse est, ne aliquando amissis illis sit miser. Ita enim vivunt quidam, ut eorum vita refellatur oratio. Iam quae corporis sunt, ea nec auctoritatem cum animi partibus, comparandam et cognitionem habent faciliorem. <a href='http://loripsum.net/' target='_blank'>Invidiosum nomen est, infame, suspectum.</a> </p>

<p><mark>Duarum enim vitarum nobis erunt instituta capienda.</mark> Voluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; <i>Iam contemni non poteris.</i> <b>Non potes, nisi retexueris illa.</b> A primo, ut opinor, animantium ortu petitur origo summi boni. Tum Torquatus: Prorsus, inquit, assentior; Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Non quaero, quid dicat, sed quid convenienter possit rationi et sententiae suae dicere. Si quicquam extra virtutem habeatur in bonis. <i>Sed videbimus.</i> Intrandum est igitur in rerum naturam et penitus quid ea postulet pervidendum; Cum sciret confestim esse moriendum eamque mortem ardentiore studio peteret, quam Epicurus voluptatem petendam putat. His enim rebus detractis negat se reperire in asotorum vita quod reprehendat. Vide, ne etiam menses! nisi forte eum dicis, qui, simul atque arripuit, interficit. </p>

<p>Prodest, inquit, mihi eo esse animo. <a href='http://loripsum.net/' target='_blank'>Qua tu etiam inprudens utebare non numquam.</a> Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus eriperes P. Adsint etiam formosi pueri, qui ministrent, respondeat his vestis, argentum, Corinthium, locus ipse, aedificium-hos ergo asotos bene quidem vivere aut beate numquam dixerim. Experiamur igitur, inquit, etsi habet haec Stoicorum ratio difficilius quiddam et obscurius. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Sunt autem, qui dicant foedus esse quoddam sapientium, ut ne minus amicos quam se ipsos diligant. <a href='http://loripsum.net/' target='_blank'>Aliter enim explicari, quod quaeritur, non potest.</a> Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Atque ab his initiis profecti omnium virtutum et originem et progressionem persecuti sunt. </p>

<ul>
    <li>An potest cupiditas finiri?</li>
    <li>Quam multa vitiosa! summum enim bonum et malum vagiens puer utra voluptate diiudicabit, stante an movente?</li>
    <li>Itaque et manendi in vita et migrandi ratio omnis iis rebus, quas supra dixi, metienda.</li>
    <li>Videamus animi partes, quarum est conspectus illustrior;</li>
    <li>Nam ante Aristippus, et ille melius.</li>
</ul>


<p><mark>Quis est tam dissimile homini.</mark> <a href='http://loripsum.net/' target='_blank'>Tu quidem reddes;</a> Curium putes loqui, interdum ita laudat, ut quid praeterea sit bonum neget se posse ne suspicari quidem. Haec qui audierit, ut ridere non curet, discedet tamen nihilo firmior ad dolorem ferendum, quam venerat. Vadem te ad mortem tyranno dabis pro amico, ut Pythagoreus ille Siculo fecit tyranno? Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. Quid loquor de nobis, qui ad laudem et ad decus nati, suscepti, instituti sumus? Somnum denique nobis, nisi requietem corporibus et is medicinam quandam laboris afferret, contra naturam putaremus datum; <i>Quonam, inquit, modo?</i> Quos nisi redarguimus, omnis virtus, omne decus, omnis vera laus deserenda est. Haec et tu ita posuisti, et verba vestra sunt. <a href='http://loripsum.net/' target='_blank'>Respondent extrema primis, media utrisque, omnia omnibus.</a> </p>

<p>Traditur, inquit, ab Epicuro ratio neglegendi doloris. Sic vester sapiens magno aliquo emolumento commotus cicuta, si opus erit, dimicabit. Tum ille timide vel potius verecunde: Facio, inquit. Cum autem paulum firmitatis accessit, et animo utuntur et sensibus conitunturque, ut sese erigant, et manibus utuntur et eos agnoscunt, a quibus educantur. Sin autem est in ea, quod quidam volunt, nihil impedit hanc nostram comprehensionem summi boni. Vidit Homerus probari fabulam non posse, si cantiunculis tantus irretitus vir teneretur; Non ego tecum iam ita iocabor, ut isdem his de rebus, cum L. An eum discere ea mavis, quae cum plane perdidiceriti nihil sciat? Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur. Eaedem enim utilitates poterunt eas labefactare atque pervertere. </p>

<p>Qui autem voluptate vitam effici beatam putabit, qui sibi is conveniet, si negabit voluptatem crescere longinquitate? Tum ille: Tu autem cum ipse tantum librorum habeas, quos hic tandem requiris? <mark>Poterat autem inpune;</mark> Quem quidem vos, cum improbis poenam proponitis, inpetibilem facitis, cum sapientem semper boni plus habere vultis, tolerabilem. Sed id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi. Non prorsus, inquit, omnisque, qui sine dolore sint, in voluptate, et ea quidem summa, esse dico. Restat locus huic disputationi vel maxime necessarius de amicitia, quam, si voluptas summum sit bonum, affirmatis nullam omnino fore. Quid ergo dubitamus, quin, si non dolere voluptas sit summa, non esse in voluptate dolor sit maximus? Illud autem ipsum qui optineri potest, quod dicitis, omnis animi et voluptates et dolores ad corporis voluptates ac dolores pertinere? Chrysippus autem exponens differentias animantium ait alias earum corpore excellere, alias autem animo, non nullas valere utraque re; Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura postulet. Non autem hoc: igitur ne illud quidem. </p>

<p>Ait enim se, si uratur, Quam hoc suave! dicturum. Maximeque eos videre possumus res gestas audire et legere velle, qui a spe gerendi absunt confecti senectute. Nec tamen ille erat sapiens quis enim hoc aut quando aut ubi aut unde? Nam Pyrrho, Aristo, Erillus iam diu abiecti. Quid ergo dubitamus, quin, si non dolere voluptas sit summa, non esse in voluptate dolor sit maximus? Si est nihil in eo, quod perficiendum est, praeter motum ingenii quendam, id est rationem, necesse est huic ultimum esse virtute agere; </p>

<p>Roges enim Aristonem, bonane ei videantur haec: vacuitas doloris, divitiae, valitudo; <mark>Res enim concurrent contrariae.</mark> <a href='http://loripsum.net/' target='_blank'>Tu quidem reddes;</a> <i>An potest cupiditas finiri?</i> Intrandum est igitur in rerum naturam et penitus quid ea postulet pervidendum; </p>

<p>Videsne ut, quibus summa est in voluptate, perspicuum sit quid iis faciendum sit aut non faciendum? Quid ergo dubitamus, quin, si non dolere voluptas sit summa, non esse in voluptate dolor sit maximus? Re mihi non aeque satisfacit, et quidem locis pluribus. Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere? Ex quo illud efficitur, qui bene cenent omnis libenter cenare, qui libenter, non continuo bene. Tu vero, inquam, ducas licet, si sequetur; <a href='http://loripsum.net/' target='_blank'>Refert tamen, quo modo.</a> Nemo nostrum istius generis asotos iucunde putat vivere. <a href='http://loripsum.net/' target='_blank'>A mene tu?</a> Quis suae urbis conservatorem Codrum, quis Erechthei filias non maxime laudat? </p>

<p>Sed quod proximum fuit non vidit. Et nunc quidem quod eam tuetur, ut de vite potissimum loquar, est id extrinsecus; Cenasti in vita numquam bene, cum omnia in ista Consumis squilla atque acupensere cum decimano. Conferam tecum, quam cuique verso rem subicias; In contemplatione et cognitione posita rerum, quae quia deorum erat vitae simillima, sapiente visa est dignissima. Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant? Nihilne te delectat umquam -video, quicum loquar-, te igitur, Torquate, ipsum per se nihil delectat? <a href='http://loripsum.net/' target='_blank'>Isto modo ne improbos quidem, si essent boni viri.</a> </p>

<p>Inde sermone vario sex illa a Dipylo stadia confecimus. Itaque, Torquate, cum diceres clamare Epicurum non posse iucunde vivi, nisi honeste et sapienter et iuste viveretur, tu ipse mihi gloriari videbare. Illud autem ipsum qui optineri potest, quod dicitis, omnis animi et voluptates et dolores ad corporis voluptates ac dolores pertinere? Nunc haec primum fortasse audientis servire debemus. <a href='http://loripsum.net/' target='_blank'>At iam decimum annum in spelunca iacet.</a> <mark>Atqui reperies, inquit, in hoc quidem pertinacem;</mark> Illud dico, ea, quae dicat, praeclare inter se cohaerere. Quam ob rem tandem, inquit, non satisfacit? Quoniamque non dubium est quin in iis, quae media dicimus, sit aliud sumendum, aliud reiciendum, quicquid ita fit aut dicitur, omne officio continetur. </p>

<ul>
    <li>Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi;</li>
    <li>Tantum dico, magis fuisse vestrum agere Epicuri diem natalem, quam illius testamento cavere ut ageretur.</li>
    <li>Et ais, si una littera commota sit, fore tota ut labet disciplina.</li>
    <li>Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P.</li>
</ul>


<p>Idem fecisset Epicurus, si sententiam hanc, quae nunc Hieronymi est, coniunxisset cum Aristippi vetere sententia. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Ut vero conservetur omnis homini erga hominem societas, coniunctio, caritas, et emolumenta et detrimenta, quae felmata et blammata appellant, communia esse voluerunt; Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta. Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo erat ea, quam volueramus. <a href='http://loripsum.net/' target='_blank'>Proclivi currit oratio.</a> Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Non enim in selectione virtus ponenda erat, ut id ipsum, quod erat bonorum ultimum, aliud aliquid adquireret. Age nunc isti doceant, vel tu potius quis enim ista melius? Quod cum dixissent, ille contra. Quia, cum a Zenone, inquam, hoc magnifice tamquam ex oraculo editur: Virtus ad beate vivendum se ipsa contenta est, et Quare? </p>

<p><b>Ipse Epicurus fortasse redderet, ut Sextus Peducaeus, Sex.</b> <mark>Sed quod proximum fuit non vidit.</mark> Legimus tamen Diogenem, Antipatrum, Mnesarchum, Panaetium, multos alios in primisque familiarem nostrum Posidonium. Sin autem est in ea, quod quidam volunt, nihil impedit hanc nostram comprehensionem summi boni. <a href='http://loripsum.net/' target='_blank'>An tu me de L.</a> </p>

<p>Superiores tres erant, quae esse possent, quarum est una sola defensa, eaque vehementer. Restat locus huic disputationi vel maxime necessarius de amicitia, quam, si voluptas summum sit bonum, affirmatis nullam omnino fore. Quis negat? Gloriosa ostentatio in constituendo summo bono. Nec tamen ille erat sapiens quis enim hoc aut quando aut ubi aut unde? Quis contra in illa aetate pudorem, constantiam, etiamsi sua nihil intersit, non tamen diligat? Cum enim summum bonum in voluptate ponat, negat infinito tempore aetatis voluptatem fieri maiorem quam finito atque modico. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. </p>

<ul>
    <li>Esse enim quam vellet iniquus iustus poterat inpune.</li>
    <li>Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus gratiam.</li>
    <li>Tamen aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista mala sunt, placet.</li>
    <li>Restincta enim sitis stabilitatem voluptatis habet, inquit, illa autem voluptas ipsius restinctionis in motu est.</li>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Deinde, ubi erubuit-vis enim est permagna naturae-, confugit illuc, ut neget accedere quicquam posse ad voluptatem nihil dolentis. Quarum cum una sit, qua mores conformari putantur, differo eam partem, quae quasi stirps ets huius quaestionis. Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura postulet. <mark>Duo Reges: constructio interrete.</mark> Qui autem esse poteris, nisi te amor ipse ceperit? <mark>Aliter enim nosmet ipsos nosse non possumus.</mark> Nec enim ignoras his istud honestum non summum modo, sed etiam, ut tu vis, solum bonum videri. <a href='http://loripsum.net/' target='_blank'>Itaque his sapiens semper vacabit.</a> </p>

<ul>
    <li>Utrum igitur tibi litteram videor an totas paginas commovere?</li>
    <li>Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti;</li>
    <li>Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit?</li>
    <li>Quodsi vultum tibi, si incessum fingeres, quo gravior viderere, non esses tui similis;</li>
</ul>


<p>Tum ille: Finem, inquit, interrogandi, si videtur, quod quidem ego a principio ita me malle dixeram hoc ipsum providens, dialecticas captiones. Aristoteles, Xenocrates, tota illa familia non dabit, quippe qui valitudinem, vires, divitias, gloriam, multa alia bona esse dicant, laudabilia non dicant. Eaedem res maneant alio modo. Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini tollere. Iam illud quale tandem est, bona praeterita non effluere sapienti, mala meminisse non oportere? Sit voluptas non minor in nasturcio illo, quo vesci Persas esse solitos scribit Xenophon, quam in Syracusanis mensis, quae a Platone graviter vituperantur; Quid censes in Latino fore? Sed quid sentiat, non videtis. </p>

<p>Sin ea non neglegemus neque tamen ad finem summi boni referemus, non multum ab Erilli levitate aberrabimus. <i>Rationis enim perfectio est virtus;</i> <a href='http://loripsum.net/' target='_blank'>Reguli reiciendam;</a> <i>Obsecro, inquit, Torquate, haec dicit Epicurus?</i> Hic Speusippus, hic Xenocrates, hic eius auditor Polemo, cuius illa ipsa sessio fuit, quam videmus. Maximas vero virtutes iacere omnis necesse est voluptate dominante. </p>

<p>Et certamen honestum et disputatio splendida! omnis est enim de virtutis dignitate contentio. <a href='http://loripsum.net/' target='_blank'>Nam quid possumus facere melius?</a> Quid ergo aliud intellegetur nisi uti ne quae pars naturae neglegatur? <i>Quod ea non occurrentia fingunt, vincunt Aristonem;</i> </p>

<p>Qui autem diffidet perpetuitati bonorum suorum, timeat necesse est, ne aliquando amissis illis sit miser. Nec enim, omnes avaritias si aeque avaritias esse dixerimus, sequetur ut etiam aequas esse dicamus. Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. <a href='http://loripsum.net/' target='_blank'>Venit ad extremum;</a> Theophrasti igitur, inquit, tibi liber ille placet de beata vita? <i>Qui est in parvis malis.</i> </p>

<p>Si est nihil nisi corpus, summa erunt illa: valitudo, vacuitas doloris, pulchritudo, cetera. Aderamus nos quidem adolescentes, sed multi amplissimi viri, quorum nemo censuit plus Fadiae dandum, quam posset ad eam lege Voconia pervenire. <i>Sin aliud quid voles, postea.</i> Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex pretiosissimis. Critolaus imitari voluit antiquos, et quidem est gravitate proximus, et redundat oratio, ac tamen is quidem in patriis institutis manet. <a href='http://loripsum.net/' target='_blank'>An hoc usque quaque, aliter in vita?</a> Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo erat ea, quam volueramus. Quae cum dixisset paulumque institisset, Quid est? </p>

<p>Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus? Ea possunt paria non esse. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Esto, fecerit, si ita vis, Torquatus propter suas utilitatesmalo enim dicere quam voluptates, in tanto praesertim viro-, num etiam eius collega P. Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura postulet. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem. Utrum igitur tibi litteram videor an totas paginas commovere? Ut ei, qui iucunde vixerit annos decem, si aeque vita iucunda menstrua addatur, quia momentum aliquod habeat ad iucundum accessio, bonum sit; <b>Occultum facinus esse potuerit, gaudebit;</b> Facit enim ille duo seiuncta ultima bonorum, quae ut essent vera, coniungi debuerunt; <a href='http://loripsum.net/' target='_blank'>Ostendit pedes et pectus.</a> </p>

<p>Miserum hominem! Si dolor summum malum est, dici aliter non potest. <b>Quantum Aristoxeni ingenium consumptum videmus in musicis?</b> Hoc autem loco tantum explicemus haec honesta, quae dico, praeterquam quod nosmet ipsos diligamus, praeterea suapte natura per se esse expetenda. <i>Certe non potest.</i> <mark>Res enim concurrent contrariae.</mark> <a href='http://loripsum.net/' target='_blank'>Si quicquam extra virtutem habeatur in bonis.</a> Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius. </p>

<blockquote cite='http://loripsum.net'>
    Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.
</blockquote>


<p>Praeclare Laelius, et recte sofñw, illudque vere: O Publi, o gurges, Galloni! es homo miser, inquit. Quod quidem mihi si quando dictum est-est autem dictum non parum saepe-, etsi satis clemens sum in disputando, tamen interdum soleo subirasci. Tenuis Lucius Verginius unusque de multis sexagesimo anno post libertatem receptam virginem filiam sua manu occidit potius, quam ea Ap. Alterum significari idem, ut si diceretur, officia media omnia aut pleraque servantem vivere. Vidit Homerus probari fabulam non posse, si cantiunculis tantus irretitus vir teneretur; </p>

<p>Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo erat ea, quam volueramus. Sin autem ad animum, falsum est, quod negas animi ullum esse gaudium, quod non referatur ad corpus. <i>Idemne, quod iucunde?</i> Quae in controversiam veniunt, de iis, si placet, disseramus. Heri, inquam, ludis commissis ex urbe profectus veni ad vesperum. <a href='http://loripsum.net/' target='_blank'>Apparet statim, quae sint officia, quae actiones.</a> Sic enim censent, oportunitatis esse beate vivere. Ita relinquet duas, de quibus etiam atque etiam consideret. Qui enim voluptatem ipsam contemnunt, iis licet dicere se acupenserem maenae non anteponere. <b>Tecum optime, deinde etiam cum mediocri amico.</b> Praeclare Laelius, et recte sofñw, illudque vere: O Publi, o gurges, Galloni! es homo miser, inquit. Cur ad reliquos Pythagoreos, Echecratem, Timaeum, Arionem, Locros, ut, cum Socratem expressisset, adiungeret Pythagoreorum disciplinam eaque, quae Socrates repudiabat, addisceret? </p>

<p><i>Nihil opus est exemplis hoc facere longius.</i> Ratio quidem vestra sic cogit. Societatem coniunctionis humanae munifice et aeque tuens iustitia dicitur, cui sunt adiunctae pietas, bonitas, liberalitas, benignitas, comitas, quaeque sunt generis eiusdem. Ego autem existimo, si honestum esse aliquid ostendero, quod sit ipsum vi sua propter seque expetendum, iacere vestra omnia. Huic verbo omnes, qui ubique sunt, qui Latine sciunt, duas res subiciunt, laetitiam in animo, commotionem suavem iucunditatis in corpore. Hic ego: Pomponius quidem, inquam, noster iocari videtur, et fortasse suo iure. <a href='http://loripsum.net/' target='_blank'>Ea possunt paria non esse.</a> Quid autem est amare, e quo nomen ductum amicitiae est, nisi velle bonis aliquem affici quam maximis, etiamsi ad se ex iis nihil redundet? </p>

<ul>
    <li>Ab his oratores, ab his imperatores ac rerum publicarum principes extiterunt.</li>
    <li>Earum etiam rerum, quas terra gignit, educatio quaedam et perfectio est non dissimilis animantium.</li>
    <li>Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria.</li>
    <li>Si quicquam extra virtutem habeatur in bonis.</li>
</ul>


<p><a href='http://loripsum.net/' target='_blank'>Bestiarum vero nullum iudicium puto.</a> <i>Non autem hoc: igitur ne illud quidem.</i> <a href='http://loripsum.net/' target='_blank'>Sint ista Graecorum;</a> Quid loquor de nobis, qui ad laudem et ad decus nati, suscepti, instituti sumus? Itaque et manendi in vita et migrandi ratio omnis iis rebus, quas supra dixi, metienda. Aliis esse maiora, illud dubium, ad id, quod summum bonum dicitis, ecquaenam possit fieri accessio. Aut haec tibi, Torquate, sunt vituperanda aut patrocinium voluptatis repudiandum. </p>

<p><b>Faceres tu quidem, Torquate, haec omnia;</b> Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere. Nonne odio multos dignos putamus, qui quodam motu aut statu videntur naturae legem et modum contempsisse? At vero Epicurus una in domo, et ea quidem angusta, quam magnos quantaque amoris conspiratione consentientis tenuit amicorum greges! quod fit etiam nunc ab Epicureis. Illa enim, quae prosunt aut quae nocent, aut bona sunt aut mala, quae sint paria necesse est. Nondum autem explanatum satis, erat, quid maxime natura vellet. <mark>Eam tum adesse, cum dolor omnis absit;</mark> Cuius etiam illi hortuli propinqui non memoriam solum mihi afferunt, sed ipsum videntur in conspectu meo ponere. Quocirca eodem modo sapiens erit affectus erga amicum, quo in se ipsum, quosque labores propter suam voluptatem susciperet, eosdem suscipiet propter amici voluptatem. </p>

<p>Nam constitui virtus nullo modo potesti nisi ea, quae sunt prima naturae, ut ad summam pertinentia tenebit. Sed tamen intellego quid velit. Illo enim addito iuste fit recte factum, per se autem hoc ipsum reddere in officio ponitur. <a href='http://loripsum.net/' target='_blank'>Non est ista, inquam, Piso, magna dissensio.</a> Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Videamus animi partes, quarum est conspectus illustrior; <i>Beatum, inquit.</i> Hoc loco tenere se Triarius non potuit. <a href='http://loripsum.net/' target='_blank'>Ecce aliud simile dissimile.</a> Quod ea non occurrentia fingunt, vincunt Aristonem; </p>

<p>Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; <i>Quae cum dixisset, finem ille.</i> <a href='http://loripsum.net/' target='_blank'>Non autem hoc: igitur ne illud quidem.</a> <i>Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster?</i> Equidem e Cn. Itaque vides, quo modo loquantur, nova verba fingunt, deserunt usitata. Stoici autem, quod finem bonorum in una virtute ponunt, similes sunt illorum; Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. </p>

<p><mark>Rhetorice igitur, inquam, nos mavis quam dialectice disputare?</mark> <a href='http://loripsum.net/' target='_blank'>Si longus, levis dictata sunt.</a> Quae adhuc, Cato, a te dicta sunt, eadem, inquam, dicere posses, si sequerere Pyrrhonem aut Aristonem. Simul atque natum animal est, gaudet voluptate et eam appetit ut bonum, aspernatur dolorem ut malum. <a href='http://loripsum.net/' target='_blank'>An eiusdem modi?</a> Immo vero, inquit, ad beatissime vivendum parum est, ad beate vero satis. Quia, si mala sunt, is, qui erit in iis, beatus non erit. <i>Sed nunc, quod agimus;</i> Ergo in bestiis erunt secreta e voluptate humanarum quaedam simulacra virtutum, in ipsis hominibus virtus nisi voluptatis causa nulla erit? </p>

<p>A primo, ut opinor, animantium ortu petitur origo summi boni. Quod cum ita sit, perspicuum est omnis rectas res atque laudabilis eo referri, ut cum voluptate vivatur. At hoc in eo M. <a href='http://loripsum.net/' target='_blank'>Nosti, credo, illud: Nemo pius est, qui pietatem-;</a> Itaque his sapiens semper vacabit. Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Frater et T. <b>Apparet statim, quae sint officia, quae actiones.</b> </p>

<blockquote cite='http://loripsum.net'>
    Et qui ipsi sibi bellum indixissent, cruciari dies, noctes torqueri vellent, nec vero sese ipsi accusarent ob eam causam, quod se male suis rebus consuluisse dicerent.
</blockquote>


<ul>
    <li>Dici enim nihil potest verius.</li>
    <li>Est autem a te semper dictum nec gaudere quemquam nisi propter corpus nec dolere.</li>
    <li>Hanc ergo intuens debet institutum illud quasi signum absolvere.</li>
</ul>


<p>Prioris generis est docilitas, memoria; Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Quos nisi redarguimus, omnis virtus, omne decus, omnis vera laus deserenda est. <mark>Sed fortuna fortis;</mark> <i>Iam in altera philosophiae parte.</i> Tum ego: Non mehercule, inquam, soleo temere contra Stoicos, non quo illis admodum assentiar, sed pudore impedior; Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Sint modo partes vitae beatae. </p>

<p>Inquit, an parum disserui non verbis Stoicos a Peripateticis, sed universa re et tota sententia dissidere? Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? </p>

<p><b>Prioris generis est docilitas, memoria;</b> Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Addidisti ad extremum etiam indoctum fuisse. <i>Sullae consulatum?</i> Summus dolor plures dies manere non potest? </p>

<blockquote cite='http://loripsum.net'>
    Atque ipsa hominis institutio si loqueretur, hoc diceret, primos suos quasi coeptus appetendi fuisse, ut se conservaret in ea natura, in qua ortus esset.
</blockquote>


<p>Si enim Zenoni licuit, cum rem aliquam invenisset inusitatam, inauditum quoque ei rei nomen inponere, cur non liceat Catoni? <b>De quibus cupio scire quid sentias.</b> Duo enim genera quae erant, fecit tria. Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Ex quo magnitudo quoque animi existebat, qua facile posset repugnari obsistique fortunae, quod maximae res essent in potestate sapientis. Respondebo me non quaerere, inquam, hoc tempore quid virtus efficere possit, sed quid constanter dicatur, quid ipsum a se dissentiat. Saepe ab Aristotele, a Theophrasto mirabiliter est laudata per se ipsa rerum scientia; <b>Igitur neque stultorum quisquam beatus neque sapientium non beatus.</b> Qui autem diffidet perpetuitati bonorum suorum, timeat necesse est, ne aliquando amissis illis sit miser. Huic ego, si negaret quicquam interesse ad beate vivendum quali uteretur victu, concederem, laudarem etiam; </p>

<ul>
    <li>Homines optimi non intellegunt totam rationem everti, si ita res se habeat.</li>
    <li>Laelius clamores sofòw ille so lebat Edere compellans gumias ex ordine nostros.</li>
</ul>


<p><i>Rationis enim perfectio est virtus;</i> Tanta vis admonitionis inest in locis; </p>

<p>Nos quidem Virtutes sic natae sumus, ut tibi serviremus, aliud negotii nihil habemus. Itaque ne iustitiam quidem recte quis dixerit per se ipsam optabilem, sed quia iucunditatis vel plurimum afferat. Quo minus animus a se ipse dissidens secumque discordans gustare partem ullam liquidae voluptatis et liberae potest. Estne, quaeso, inquam, sitienti in bibendo voluptas? <a href='http://loripsum.net/' target='_blank'>Huius ego nunc auctoritatem sequens idem faciam.</a> Sin eam, quam Hieronymus, ne fecisset idem, ut voluptatem illam Aristippi in prima commendatione poneret. Est autem etiam actio quaedam corporis, quae motus et status naturae congruentis tenet; Tenesne igitur, inquam, Hieronymus Rhodius quid dicat esse summum bonum, quo putet omnia referri oportere? </p>

<ul>
    <li>Nam ante Aristippus, et ille melius.</li>
    <li>Si mala non sunt, iacet omnis ratio Peripateticorum.</li>
    <li>Ita multo sanguine profuso in laetitia et in victoria est mortuus.</li>
    <li>Quae diligentissime contra Aristonem dicuntur a Chryippo.</li>
</ul>


<p>Tecum optime, deinde etiam cum mediocri amico. Cuius tanta tormenta sunt, ut in iis beata vita, si modo dolor summum malum est, esse non possit. <i>Id Sextilius factum negabat.</i> Quid, si non sensus modo ei sit datus, verum etiam animus hominis? Tenent mordicus. Sic igitur in homine perfectio ista in eo potissimum, quod est optimum, id est in virtute, laudatur. Somnum denique nobis, nisi requietem corporibus et is medicinam quandam laboris afferret, contra naturam putaremus datum; Atqui pugnantibus et contrariis studiis consiliisque semper utens nihil quieti videre, nihil tranquilli potest. </p>

<p>Materiam vero rerum et copiam apud hos exilem, apud illos uberrimam reperiemus. Cum audissem Antiochum, Brute, ut solebam, cum M. Hanc in motu voluptatem -sic enim has suaves et quasi dulces voluptates appellat-interdum ita extenuat, ut M. Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus eriperes P. Sed audiamus ipsum: Compensabatur, inquit, tamen cum his omnibus animi laetitia, quam capiebam memoria rationum inventorumque nostrorum. Nam nec vir bonus ac iustus haberi debet qui, ne malum habeat, abstinet se ab iniuria. Teneo, inquit, finem illi videri nihil dolere. Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. </p>

<blockquote cite='http://loripsum.net'>
    Stoici autem, quod finem bonorum in una virtute ponunt, similes sunt illorum;
</blockquote>


<blockquote cite='http://loripsum.net'>
    Peccata autem partim esse tolerabilia, partim nullo modo, propterea quod alia peccata plures, alia pauciores quasi numeros officii praeterirent.
</blockquote>


<blockquote cite='http://loripsum.net'>
    Negarine ullo modo possit numquam quemquam stabili et firmo et magno animo, quem fortem virum dicimus, effici posse, nisi constitutum sit non esse malum dolorem?
</blockquote>


<p>Iubet igitur nos Pythius Apollo noscere nosmet ipsos. Sed tempus est, si videtur, et recta quidem ad me. Idem iste, inquam, de voluptate quid sentit? <b>Memini vero, inquam;</b> Tum, Quintus et Pomponius cum idem se velle dixissent, Piso exorsus est. Quae quidem adhuc peregrinari Romae videbatur nec offerre sese nostris sermonibus, et ista maxime propter limatam quandam et rerum et verborum tenuitatem. <i>Sed potestne rerum maior esse dissensio?</i> Atque ab his initiis profecti omnium virtutum et originem et progressionem persecuti sunt. Quamquam id quidem, infinitum est in hac urbe; Sextilio Rufo, cum is rem ad amicos ita deferret, se esse heredem Q. <a href='http://loripsum.net/' target='_blank'>Sic consequentibus vestris sublatis prima tolluntur.</a> Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. Quid enim ab antiquis ex eo genere, quod ad disserendum valet, praetermissum est? Satisne vobis videor pro meo iure in vestris auribus commentatus? Cum enim summum bonum in voluptate ponat, negat infinito tempore aetatis voluptatem fieri maiorem quam finito atque modico. Voluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; </p>

<p>Nec vero pietas adversus deos nec quanta iis gratia debeatur sine explicatione naturae intellegi potest. Naturalem enim appetitionem, quam vocant o)rmh)n, itemque officium, ipsam etiam virtutem tuentem volunt esse earum rerum, quae secundum naturam sunt. An hoc usque quaque, aliter in vita? <b>Non laboro, inquit, de nomine.</b> </p>

<p>An me, inquis, tam amentem putas, ut apud imperitos isto modo loquar? Non igitur potestis voluptate omnia dirigentes aut tueri aut retinere virtutem. Aderamus nos quidem adolescentes, sed multi amplissimi viri, quorum nemo censuit plus Fadiae dandum, quam posset ad eam lege Voconia pervenire. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem. Frater et T. <a href='http://loripsum.net/' target='_blank'>Odium autem et invidiam facile vitabis.</a> Atque omnia quidem scire, cuiuscumque modi sint, cupere curiosorum, duci vero maiorum rerum contemplatione ad cupiditatem scientiae summorum virorum est putandum. Atque ego: Scis me, inquam, istud idem sentire, Piso, sed a te opportune facta mentio est. Aliam vero vim voluptatis esse, aliam nihil dolendi, nisi valde pertinax fueris, concedas necesse est. <b>Facillimum id quidem est, inquam.</b> </p>

<p>Et hi quidem ita non sola virtute finem bonorum contineri putant, ut rebus tamen omnibus virtutem anteponant; Ego vero isti, inquam, permitto. Nam illud quidem adduci vix possum, ut ea, quae senserit ille, tibi non vera videantur. <i>Verum hoc idem saepe faciamus.</i> Multoque hoc melius nos veriusque quam Stoici. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Nihil ad rem! Ne sit sane; Eam tum adesse, cum dolor omnis absit; Apud ceteros autem philosophos, qui quaesivit aliquid, tacet; Reicietur etiam Carneades, nec ulla de summo bono ratio aut voluptatis non dolendive particeps aut honestatis expers probabitur. Qui potest igitur habitare in beata vita summi mali metus? Nam si propter voluptatem, quae est ista laus, quae possit e macello peti? </p>

<blockquote cite='http://loripsum.net'>
    Sed quanta sit alias, nunc tantum possitne esse tanta.
</blockquote>


<p>Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. Quod cum ille dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. <a href='http://loripsum.net/' target='_blank'>Et nemo nimium beatus est;</a> Ita finis bonorum existit secundum naturam vivere sic affectum, ut optime is affici possit ad naturamque accommodatissime. Hoc est non modo cor non habere, sed ne palatum quidem. Age, inquies, ista parva sunt. <a href='http://loripsum.net/' target='_blank'>Hoc simile tandem est?</a> Quid, si reviviscant Platonis illi et deinceps qui eorum auditores fuerunt, et tecum ita loquantur? </p>

<p>Claudii libidini, qui tum erat summo ne imperio, dederetur. Ita multo sanguine profuso in laetitia et in victoria est mortuus. Aliter enim nosmet ipsos nosse non possumus. <b>Sit sane ista voluptas.</b> Color egregius, integra valitudo, summa gratia, vita denique conferta voluptatum omnium varietate. </p>

<p><b>Conferam tecum, quam cuique verso rem subicias;</b> Cum audissem Antiochum, Brute, ut solebam, cum M. Quorum omnium quae sint notitiae, quae quidem significentur rerum vocabulis, quaeque cuiusque vis et natura sit mox videbimus. Atque haec contra Aristippum, qui eam voluptatem non modo summam, sed solam etiam ducit, quam omnes unam appellamus voluptatem. Atque omnia quidem scire, cuiuscumque modi sint, cupere curiosorum, duci vero maiorum rerum contemplatione ad cupiditatem scientiae summorum virorum est putandum. Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex pretiosissimis. </p>

<blockquote cite='http://loripsum.net'>
    Nemo enim est, qui aliter dixerit quin omnium naturarum simile esset id, ad quod omnia referrentur, quod est ultimum rerum appetendarum.
</blockquote>


<p>Philosophi autem in suis lectulis plerumque moriuntur. Quod, inquit, quamquam voluptatibus quibusdam est saepe iucundius, tamen expetitur propter voluptatem. <mark>Cur iustitia laudatur?</mark> Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Non quaero, quid dicat, sed quid convenienter possit rationi et sententiae suae dicere. Nonne odio multos dignos putamus, qui quodam motu aut statu videntur naturae legem et modum contempsisse? Iam argumenti ratione conclusi caput esse faciunt ea, quae perspicua dicunt, deinde ordinem sequuntur, tum, quid verum sit in singulis, extrema conclusio est. <i>Respondeat totidem verbis.</i> Atque haec ita iustitiae propria sunt, ut sint virtutum reliquarum communia. </p>

<p><a href='http://loripsum.net/' target='_blank'>Eadem fortitudinis ratio reperietur.</a> Nunc dicam de voluptate, nihil scilicet novi, ea tamen, quae te ipsum probaturum esse confidam. Id enim volumus, id contendimus, ut officii fructus sit ipsum officium. Crasso, quem semel ait in vita risisse Lucilius, non contigit, ut ea re minus agelastoj ut ait idem, vocaretur. Estne, quaeso, inquam, sitienti in bibendo voluptas? Minime vero probatur huic disciplinae, de qua loquor, aut iustitiam aut amicitiam propter utilitates adscisci aut probari. </p>

<p>Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Id enim volumus, id contendimus, ut officii fructus sit ipsum officium. Illud enim rectum est quod katortwma dicebas contingitque sapienti soli, hoc autem inchoati cuiusdam officii est, non perfecti, quod cadere in non nullos insipientes potest. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Quis tibi ergo istud dabit praeter Pyrrhonem, Aristonem eorumve similes, quos tu non probas? Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. Ea possunt paria non esse. <b>Cur id non ita fit?</b> <a href='http://loripsum.net/' target='_blank'>Quod cum dixissent, ille contra.</a> Quam ob rem tandem, inquit, non satisfacit? Res tota, Torquate, non doctorum hominum, velle post mortem epulis celebrari memoriam sui nominis. Alterum significari idem, ut si diceretur, officia media omnia aut pleraque servantem vivere. Quia voluptatem hanc esse sentiunt omnes, quam sensus accipiens movetur et iucunditate quadam perfunditur. Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura postulet. </p>

<p><i>Vide, quaeso, rectumne sit.</i> Quid, si non modo utilitatem tibi nullam afferet, sed iacturae rei familiaris erunt faciendae, labores suscipiendi, adeundum vitae periculum? Ut alios omittam, hunc appello, quem ille unum secutus est. Polemoni et iam ante Aristoteli ea prima visa sunt, quae paulo ante dixi. Huic verbo omnes, qui ubique sunt, qui Latine sciunt, duas res subiciunt, laetitiam in animo, commotionem suavem iucunditatis in corpore. Te autem hortamur omnes, currentem quidem, ut spero, ut eos, quos novisse vis, imitari etiam velis. <a href='http://loripsum.net/' target='_blank'>Verum hoc idem saepe faciamus.</a> De quibus cupio scire quid sentias. </p>

<p>Sequitur disserendi ratio cognitioque naturae; Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant. Qui autem diffidet perpetuitati bonorum suorum, timeat necesse est, ne aliquando amissis illis sit miser. Ita enim vivunt quidam, ut eorum vita refellatur oratio. Iam quae corporis sunt, ea nec auctoritatem cum animi partibus, comparandam et cognitionem habent faciliorem. <a href='http://loripsum.net/' target='_blank'>Invidiosum nomen est, infame, suspectum.</a> </p>

<p><mark>Duarum enim vitarum nobis erunt instituta capienda.</mark> Voluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; <i>Iam contemni non poteris.</i> <b>Non potes, nisi retexueris illa.</b> A primo, ut opinor, animantium ortu petitur origo summi boni. Tum Torquatus: Prorsus, inquit, assentior; Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Non quaero, quid dicat, sed quid convenienter possit rationi et sententiae suae dicere. Si quicquam extra virtutem habeatur in bonis. <i>Sed videbimus.</i> Intrandum est igitur in rerum naturam et penitus quid ea postulet pervidendum; Cum sciret confestim esse moriendum eamque mortem ardentiore studio peteret, quam Epicurus voluptatem petendam putat. His enim rebus detractis negat se reperire in asotorum vita quod reprehendat. Vide, ne etiam menses! nisi forte eum dicis, qui, simul atque arripuit, interficit. </p>

<p>Prodest, inquit, mihi eo esse animo. <a href='http://loripsum.net/' target='_blank'>Qua tu etiam inprudens utebare non numquam.</a> Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus eriperes P. Adsint etiam formosi pueri, qui ministrent, respondeat his vestis, argentum, Corinthium, locus ipse, aedificium-hos ergo asotos bene quidem vivere aut beate numquam dixerim. Experiamur igitur, inquit, etsi habet haec Stoicorum ratio difficilius quiddam et obscurius. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Sunt autem, qui dicant foedus esse quoddam sapientium, ut ne minus amicos quam se ipsos diligant. <a href='http://loripsum.net/' target='_blank'>Aliter enim explicari, quod quaeritur, non potest.</a> Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Atque ab his initiis profecti omnium virtutum et originem et progressionem persecuti sunt. </p>

<ul>
    <li>An potest cupiditas finiri?</li>
    <li>Quam multa vitiosa! summum enim bonum et malum vagiens puer utra voluptate diiudicabit, stante an movente?</li>
    <li>Itaque et manendi in vita et migrandi ratio omnis iis rebus, quas supra dixi, metienda.</li>
    <li>Videamus animi partes, quarum est conspectus illustrior;</li>
    <li>Nam ante Aristippus, et ille melius.</li>
</ul>


<p><mark>Quis est tam dissimile homini.</mark> <a href='http://loripsum.net/' target='_blank'>Tu quidem reddes;</a> Curium putes loqui, interdum ita laudat, ut quid praeterea sit bonum neget se posse ne suspicari quidem. Haec qui audierit, ut ridere non curet, discedet tamen nihilo firmior ad dolorem ferendum, quam venerat. Vadem te ad mortem tyranno dabis pro amico, ut Pythagoreus ille Siculo fecit tyranno? Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. Quid loquor de nobis, qui ad laudem et ad decus nati, suscepti, instituti sumus? Somnum denique nobis, nisi requietem corporibus et is medicinam quandam laboris afferret, contra naturam putaremus datum; <i>Quonam, inquit, modo?</i> Quos nisi redarguimus, omnis virtus, omne decus, omnis vera laus deserenda est. Haec et tu ita posuisti, et verba vestra sunt. <a href='http://loripsum.net/' target='_blank'>Respondent extrema primis, media utrisque, omnia omnibus.</a> </p>

<p>Traditur, inquit, ab Epicuro ratio neglegendi doloris. Sic vester sapiens magno aliquo emolumento commotus cicuta, si opus erit, dimicabit. Tum ille timide vel potius verecunde: Facio, inquit. Cum autem paulum firmitatis accessit, et animo utuntur et sensibus conitunturque, ut sese erigant, et manibus utuntur et eos agnoscunt, a quibus educantur. Sin autem est in ea, quod quidam volunt, nihil impedit hanc nostram comprehensionem summi boni. Vidit Homerus probari fabulam non posse, si cantiunculis tantus irretitus vir teneretur; Non ego tecum iam ita iocabor, ut isdem his de rebus, cum L. An eum discere ea mavis, quae cum plane perdidiceriti nihil sciat? Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur. Eaedem enim utilitates poterunt eas labefactare atque pervertere. </p>

<p>Qui autem voluptate vitam effici beatam putabit, qui sibi is conveniet, si negabit voluptatem crescere longinquitate? Tum ille: Tu autem cum ipse tantum librorum habeas, quos hic tandem requiris? <mark>Poterat autem inpune;</mark> Quem quidem vos, cum improbis poenam proponitis, inpetibilem facitis, cum sapientem semper boni plus habere vultis, tolerabilem. Sed id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi. Non prorsus, inquit, omnisque, qui sine dolore sint, in voluptate, et ea quidem summa, esse dico. Restat locus huic disputationi vel maxime necessarius de amicitia, quam, si voluptas summum sit bonum, affirmatis nullam omnino fore. Quid ergo dubitamus, quin, si non dolere voluptas sit summa, non esse in voluptate dolor sit maximus? Illud autem ipsum qui optineri potest, quod dicitis, omnis animi et voluptates et dolores ad corporis voluptates ac dolores pertinere? Chrysippus autem exponens differentias animantium ait alias earum corpore excellere, alias autem animo, non nullas valere utraque re; Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura postulet. Non autem hoc: igitur ne illud quidem. </p>

<p>Ait enim se, si uratur, Quam hoc suave! dicturum. Maximeque eos videre possumus res gestas audire et legere velle, qui a spe gerendi absunt confecti senectute. Nec tamen ille erat sapiens quis enim hoc aut quando aut ubi aut unde? Nam Pyrrho, Aristo, Erillus iam diu abiecti. Quid ergo dubitamus, quin, si non dolere voluptas sit summa, non esse in voluptate dolor sit maximus? Si est nihil in eo, quod perficiendum est, praeter motum ingenii quendam, id est rationem, necesse est huic ultimum esse virtute agere; </p>

<p>Roges enim Aristonem, bonane ei videantur haec: vacuitas doloris, divitiae, valitudo; <mark>Res enim concurrent contrariae.</mark> <a href='http://loripsum.net/' target='_blank'>Tu quidem reddes;</a> <i>An potest cupiditas finiri?</i> Intrandum est igitur in rerum naturam et penitus quid ea postulet pervidendum; </p>

<p>Videsne ut, quibus summa est in voluptate, perspicuum sit quid iis faciendum sit aut non faciendum? Quid ergo dubitamus, quin, si non dolere voluptas sit summa, non esse in voluptate dolor sit maximus? Re mihi non aeque satisfacit, et quidem locis pluribus. Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere? Ex quo illud efficitur, qui bene cenent omnis libenter cenare, qui libenter, non continuo bene. Tu vero, inquam, ducas licet, si sequetur; <a href='http://loripsum.net/' target='_blank'>Refert tamen, quo modo.</a> Nemo nostrum istius generis asotos iucunde putat vivere. <a href='http://loripsum.net/' target='_blank'>A mene tu?</a> Quis suae urbis conservatorem Codrum, quis Erechthei filias non maxime laudat? </p>

<p>Sed quod proximum fuit non vidit. Et nunc quidem quod eam tuetur, ut de vite potissimum loquar, est id extrinsecus; Cenasti in vita numquam bene, cum omnia in ista Consumis squilla atque acupensere cum decimano. Conferam tecum, quam cuique verso rem subicias; In contemplatione et cognitione posita rerum, quae quia deorum erat vitae simillima, sapiente visa est dignissima. Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant? Nihilne te delectat umquam -video, quicum loquar-, te igitur, Torquate, ipsum per se nihil delectat? <a href='http://loripsum.net/' target='_blank'>Isto modo ne improbos quidem, si essent boni viri.</a> </p>

<p>Inde sermone vario sex illa a Dipylo stadia confecimus. Itaque, Torquate, cum diceres clamare Epicurum non posse iucunde vivi, nisi honeste et sapienter et iuste viveretur, tu ipse mihi gloriari videbare. Illud autem ipsum qui optineri potest, quod dicitis, omnis animi et voluptates et dolores ad corporis voluptates ac dolores pertinere? Nunc haec primum fortasse audientis servire debemus. <a href='http://loripsum.net/' target='_blank'>At iam decimum annum in spelunca iacet.</a> <mark>Atqui reperies, inquit, in hoc quidem pertinacem;</mark> Illud dico, ea, quae dicat, praeclare inter se cohaerere. Quam ob rem tandem, inquit, non satisfacit? Quoniamque non dubium est quin in iis, quae media dicimus, sit aliud sumendum, aliud reiciendum, quicquid ita fit aut dicitur, omne officio continetur. </p>

<ul>
    <li>Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi;</li>
    <li>Tantum dico, magis fuisse vestrum agere Epicuri diem natalem, quam illius testamento cavere ut ageretur.</li>
    <li>Et ais, si una littera commota sit, fore tota ut labet disciplina.</li>
    <li>Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P.</li>
</ul>


<p>Idem fecisset Epicurus, si sententiam hanc, quae nunc Hieronymi est, coniunxisset cum Aristippi vetere sententia. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Ut vero conservetur omnis homini erga hominem societas, coniunctio, caritas, et emolumenta et detrimenta, quae felmata et blammata appellant, communia esse voluerunt; Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta. Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo erat ea, quam volueramus. <a href='http://loripsum.net/' target='_blank'>Proclivi currit oratio.</a> Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Non enim in selectione virtus ponenda erat, ut id ipsum, quod erat bonorum ultimum, aliud aliquid adquireret. Age nunc isti doceant, vel tu potius quis enim ista melius? Quod cum dixissent, ille contra. Quia, cum a Zenone, inquam, hoc magnifice tamquam ex oraculo editur: Virtus ad beate vivendum se ipsa contenta est, et Quare? </p>

<p><b>Ipse Epicurus fortasse redderet, ut Sextus Peducaeus, Sex.</b> <mark>Sed quod proximum fuit non vidit.</mark> Legimus tamen Diogenem, Antipatrum, Mnesarchum, Panaetium, multos alios in primisque familiarem nostrum Posidonium. Sin autem est in ea, quod quidam volunt, nihil impedit hanc nostram comprehensionem summi boni. <a href='http://loripsum.net/' target='_blank'>An tu me de L.</a> </p>

<p>Superiores tres erant, quae esse possent, quarum est una sola defensa, eaque vehementer. Restat locus huic disputationi vel maxime necessarius de amicitia, quam, si voluptas summum sit bonum, affirmatis nullam omnino fore. Quis negat? Gloriosa ostentatio in constituendo summo bono. Nec tamen ille erat sapiens quis enim hoc aut quando aut ubi aut unde? Quis contra in illa aetate pudorem, constantiam, etiamsi sua nihil intersit, non tamen diligat? Cum enim summum bonum in voluptate ponat, negat infinito tempore aetatis voluptatem fieri maiorem quam finito atque modico. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. </p>

<ul>
    <li>Esse enim quam vellet iniquus iustus poterat inpune.</li>
    <li>Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus gratiam.</li>
    <li>Tamen aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista mala sunt, placet.</li>
    <li>Restincta enim sitis stabilitatem voluptatis habet, inquit, illa autem voluptas ipsius restinctionis in motu est.</li>
</ul>

@functions {
    public LayoutModel LayoutModel => new() { Title = "Lorem Ipsum (Static)" };

    protected override Task ExecuteSectionAsync(string name)
    {
        if (name == "lorem-header")
        {
            <p class="text-info">This page is just a large static lorem ipsum example.</p>
        }

        return Task.CompletedTask;
    }
}
