@inherits RazorSlice<LoremParams>
@implements IUsesLayout<_LoremLayout, LayoutModel>

@inject LoremService LoremService

<p class="text-success">This Lorem Ipsum sentences was created using dependency-injected properties!</p>

@for (var i = 0; i < Model.ParagraphCount; i++)
{
    <p>@LoremService.Sentences(Model.ParagraphSentenceCount)</p>
}

@functions {
    public LayoutModel LayoutModel => new() { Title = "Lorem Ipsum (Dependency-injected properties)" };

    protected override Task ExecuteSectionAsync(string name)
    {
        if (name == "lorem-header")
        {
            <p class="text-info">This page renders lorem ipsum content from a service (@LoremService.GetType().Name) that's injected via the <code>@@inject</code> directive.</p>
        }

        return Task.CompletedTask;
    }
}